* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #15202b;
}

main {
  padding: 50px;
}

section {
  display: flex;
  margin: auto;
  width: 160px;
  height: 160px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mark {
  width: 50px;
  height: 50px;
  border: solid 1px aliceblue;
}

.player-1 {
  background-image: url('images/circle.png');
  background-size: cover;
}

.player-2 {
  background-image: url('images/X.png');
  background-size: cover;
  background-color: #ff00ff;
}